{% extends "tasks/base.html" %}
{% load i18n %}

{% block content %}
<p>{% trans "users_list" %}</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>{% trans "username" %}</th>
            <th>{% trans "fullname" %}</th>
            <th>{% trans "creation_date" %}</th>
            <th>{% trans "edit_buttons" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.get_full_name }}</td>
            <td>{{ user.date_joined }}</td>
            <td>
                <a href="{% url 'users:update' user.id %}">{% trans "update_user" %}</a>
                <br>
                <a href="{% url 'users:delete' user.id %}">{% trans "delete_user" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}